html {
font-size: 14px;
}

body {
line-height: 1.4;
}

/* Bootstrap Overrides */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
background-color: inherit;
color: #399bd1;
}

.btn-primary {
width: 160px;
padding: 1.3rem 0;
border: 0;
margin-top: 2.8rem;
background-color: #399bd1;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
transition: .5s box-shadow;
}

.btn-primary:hover{
background-color: #399bd1;
box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:active {
box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/* Slick Overrides */
.slick-slide {
outline: none;
}

/* Navigation */

.nav-bar {
font-size: 1.1rem;
font-weight: 600;
}

/* Jumbotron */

.jumbotron {
height: 46rem;
padding-top: 10rem;
text-align: center;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
color: white;
text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

/* Background */
.background-rainbow {
background-image: url("../images/ColourSurge1.jpg");
}

.background-love {
background-image: url("../images/67868104.webp");
}

.background-forest {
background-image: url("../images/img0003.jpeg");
}

.background-sea {
background-image: url("../images/maxresdefault (2).jpg");
}

.background-animal {
background-image: url("../images/rare-black-leopard.jpg");
}

.background-beach {
background-image: url("../images/beach.jpg");
}

.background-sky {
background-image: url("../images/beautiful-sunset.jpg");
}

.background-land {
background-image: url("../images/appreciate.jpeg");
}

.background-mountain {
background-image: url("../images/mountains.jpeg");
}

.background-tree {
background-image: url("../images/tree-736885__340.jpg");
}

.jumbotron h1 {
font-size: 7.1rem;
font-family: 'Monoton', cursive;
color: seashell
}

.jumbotron p {
max-width: 51.3rem;
margin: auto;
font-family: 'Oleo Script', cursive;
color: seashell;
font-weight: 300;
}

.relative-wrapper {
position: relative;
top: -16rem;
width: 100%;
text-align: center;
}

/* Media Queries */

@media only screen and (max-width: 767px) {
.jumbotron h1 {
font-size: 5.7rem
  }
}

@media only screen and (max-width: 550px) {
.jumbotron h1 {
font-size: 4rem;
}
}

/* Image Container */
.image-container {
overflow: hidden;
}

.image-container img {
opacity: 0.9;
transition: tranform .5s,
            opacity .3s;
transition: tranform .1s,
            opacity .5s;
}

.image-container img:hover {
opacity: 1;
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
}

img {
width: 100%;
}

#flower img {
height: 20rem;
width: 50;
}

/* Featured Project */

.featured-project {
margin-top: -7rem; /* To account for relatively positioned button */
}

.featured-project .image-container {
height: 19rem;
margin-top: 20px; /* To match bootstrap header margins */
}

h2 {
font-family: 'Black Ops One', cursive;
text-transform: uppercase;
letter-spacing: 1.5px;
font-size: 2.5rem;
}

h3 {
font-family: 'Lora', serif;
font-weight: bold;
font-size: 1.8rem;
}

.article {
font-family: 'Elsie Swash Caps', cursive;
font-size: 1.3rem;
font-weight: bold;
}

li,
p {
font-family: 'ZCOOL XiaoWei', serif;
font-size: 1.2rem;
}

.categories h3 {
color: #399bd1;
}

.categories ul {
color: rgba (0, 0, 0, 0.7);
}

.jump:hover{
background-color: aqua
}

#rose img,
#paint img,
#rainbow img,
#couples img,
#romantic img,
#blue img,
#rose img,
#golf img,
#estate img,
#invest img,
#castle img,
#ocean img,
#sea img,
#forest img,
#frog img,
#cat img,
#butterfly img,
#gecko img,
#bahia img,
#selange img,
#hunt img,
#moat img,
#sunrise img,
#sunset img,
#eclipse img,
#moon img,
#land img,
#desert img,
#tundra img,
#banyan img,
#neem img,
#oak img,
#cucumber img,
#fold img,
#dome img,
#volcanic img,
#plateau img{
height: 20rem;
}

/* FOOTER */
footer {
display: inline-flex;
border-top: 1.5px solid black;
padding: 1rem;
width: 100%;
height: 4rem;
font-size: 1.1rem;
}

strong {
color: teal;
}
